@model IEnumerable<iCareWebApplication.Models.PatientTreatment>

@{
    ViewData["Title"] = "Patient Treatments";
}

<h2>Patient Treatments</h2>

<a asp-action="Create" asp-route-patientId="@ViewBag.PatientId" class="btn btn-primary">Add New Treatment</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Treatments</th>
            <th>Description</th>
            <th>Treatment Date</th>
            <th>Worker Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treatment in Model)
        {
            <tr>
                <td>@treatment.PatientTreatmentId</td>
                <td>@treatment.Description</td>
                <td>@treatment.TreatmentDate.ToString("MM/dd/yyyy")</td>
                <td>@treatment.WorkerId</td>
            </tr>
        }
    </tbody>
</table>
